<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M1_R_Basics/images/IDSNlogo.png" width="200" align="center">
</a>

<h1>Data Wrangling with Regular Expressions</h1>

Estimated time needed: **40** minutes

## Lab Overview:

In the previous data collection labs, you collected some raw datasets from several different sources. In this lab, you need to perform data wrangling tasks in order to improve data quality.

You will again use regular expressions, along with the `stringr` package (part of `tidyverse`), to clean up the bike-sharing systems data that you previously web scraped from the wiki page:

[https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems](https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01)

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-list-bike-sharing-systems.png" width="800" align="center">
</a>

One typical challenge of web scraping is that data extracted from HTML pages may contain unnecessary or inconsistently fomatted information.\
For example:

*   Textual annotations in numeric fields: `1000 (Updated with 1050)`
*   Attached reference links: `Bike sharing system [123]`
*   Inconsistent data formats: `Yes` and `Y` for the logical value `TRUE` or `2021-04-09` and `Apr 09, 2021` for the same date
*   HTML style tags: `<span style="color:blue">Bike sharing system</span>`
*   Special characters: `&nbsp` for a white space

Many more such examples of noise may be encountered in real-world scraped data and most of such text related noises could be handled by regular expressions.

To summarize, you will be using `stringr` (part of `tidyverse`) and regular expressions to perform the following data wrangling tasks:

*   TASK: Standardize column names for all collected datasets
*   TASK: Remove undesired reference links from the scraped bike-sharing systems dataset
*   TASK: Extract only the numeric value from undesired text annotations

Let's begin by importing the libraries you will use for these data wrangling tasks.

In [ ]:
# Check whether you need to install the `tidyverse` library
require("tidyverse")
library(tidyverse)

Loading required package: tidyverse

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## TASK: Standardize column names for all collected datasets

In the previous data collection labs, you collected four datasets in csv format:

*   `raw_bike_sharing_systems.csv`:  A list of active bike-sharing systems across the world
*   `raw_cities_weather_forecast.csv`: 5-day weather forecasts for a list of cities, from OpenWeather API
*   `raw_worldcities.csv`: A list of major cities' info (such as name, latitude and longitude) across the world
*   `raw_seoul_bike_sharing.csv`: Weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour, and date information, from Seoul bike-sharing systems

*Optional:* If you had some difficulties finishing the data collection labs, you may download the datasets directly from the following URLs:

In [ ]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

To improve dataset readbility by both human and computer systems, we first need to standardize the column names of the datasets above using the following naming convention:

*   Column names need to be UPPERCASE
*   The word separator needs to be an underscore, such as in `COLUMN_NAME`

You can use the following dataset list and the `names()` function to get and set each of their column names, and convert them according to our defined naming convention.

In [ ]:
dataset_list <- c('raw_bike_sharing_systems.csv', 'raw_seoul_bike_sharing.csv', 'raw_cities_weather_forecast.csv', 'raw_worldcities.csv')

*TODO*: Write a `for` loop to iterate over the above datasets and convert their column names

In [ ]:
for (bikesharing_dataset in dataset_list){
    # Read dataset
    dataset <- read_csv("raw_bike_sharing_systems.csv")
    # Standardized its columns:
    bikesharing_dataset <- as.data.frame(dataset)
    #Convert all column names to uppercase
      names(bikesharing_dataset)<- toupper(names(bikesharing_dataset))
   # Replace any white space separators by underscores, using the str_replace_all function
      str_replace_all(bikesharing_dataset, " ", "_")
    # Save the dataset 
    write.csv(bikesharing_dataset, "raw_bike_sharing_systems.csv", row.names=FALSE)    
}

Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”

In [ ]:
for (bike_dataset in dataset_list){
    # Read dataset
    dataset_1 <- read_csv("raw_seoul_bike_sharing.csv")
    # Standardized its columns:
    bike_dataset <- as.data.frame(dataset_1)
    #Convert all column names to uppercase
      names(bike_dataset)<- toupper(names(bike_dataset))
   # Replace any white space separators by underscores, using the str_replace_all function
      str_replace_all(bike_dataset, " ", "_")
    # Save the dataset 
    write.csv(bike_dataset, "raw_seoul_bike_sharing.csv", row.names=FALSE)    
}

Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): Date, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, Hour, TEMPERATURE, HUMIDITY, WIND_SPEED, Visibi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): DATE, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBI...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): DATE, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBI...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): DATE, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBI...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”

In [ ]:
for ( weather_dataset in dataset_list){
    # Read dataset
    dataset_2 <- read_csv("raw_cities_weather_forecast.csv")
    # Standardized its columns:
    weather_dataset <- as.data.frame(dataset_2)
    #Convert all column names to uppercase
      names(weather_dataset)<- toupper(names(weather_dataset))
   # Replace any white space separators by underscores, using the str_replace_all function
      str_replace_all(weather_dataset, " ", "_")
    # Save the dataset 
    write.csv(weather_dataset, "raw_cities_weather_forecast.csv", row.names=FALSE)    
}

Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): city, weather, season
dbl  (8): visibility, temp, temp_min, temp_max, pressure, humidity, wind_spe...
dttm (1): forecast_datetime

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): CITY, WEATHER, SEASON
dbl  (8): VISIBILITY, TEMP, TEMP_MIN, TEMP_MAX, PRESSURE, HUMIDITY, WIND_SPE...
dttm (1): FORECAST_DATETIME

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): CITY, WEATHER, SEASON
dbl  (8): VISIBILITY, TEMP, TEMP_MIN, TEMP_MAX, PRESSURE, HUMIDITY, WIND_SPE...
dttm (1): FORECAST_DATETIME

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): CITY, WEATHER, SEASON
dbl  (8): VISIBILITY, TEMP, TEMP_MIN, TEMP_MAX, PRESSURE, HUMIDITY, WIND_SPE...
dttm (1): FORECAST_DATETIME

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”

In [ ]:
for ( worldcities_dataset in dataset_list){
    # Read dataset
    dataset_3 <- read_csv("raw_worldcities.csv")
    # Standardized its columns:
    worldcities_dataset <- as.data.frame(dataset_3)
    #Convert all column names to uppercase
      names(worldcities_dataset)<- toupper(names(worldcities_dataset))
   # Replace any white space separators by underscores, using the str_replace_all function
      str_replace_all(worldcities_dataset, " ", "_")
    # Save the dataset 
    write.csv(worldcities_dataset, "raw_worldcities.csv", row.names=FALSE)    
}

Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): CITY, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): CITY, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): CITY, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”
Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): CITY, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message in stri_replace_all_regex(string, pattern, fix_replacement(replacement), :
“argument is not an atomic vector; coercing”

*TODO*: Read the resulting datasets back and check whether their column names follow the naming convention

In [ ]:

    # Print a summary for each data set to check whether the column names were correctly converted
    summary(bikesharing_dataset)

    summary(bike_dataset)

    summary (weather_dataset)
    
    summary(worldcities_dataset)

   COUNTRY              CITY               NAME              SYSTEM
 Length:480         Length:480         Length:480         Length:480
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   OPERATOR           LAUNCHED         DISCONTINUED         STATIONS
 Length:480         Length:480         Length:480         Length:480
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   BICYCLES         DAILY_RIDERSHIP
 Length:480         Length:480
 Class :character   Class :character
 Mode  :character   Mode  :character

     DATE           RENTED_BIKE_COUNT      HOUR        TEMPERATURE
 Length:8760        Min.   :   2.0    Min.   : 0.00   Min.   :-17.80
 Class :character   1st Qu.: 214.0    1st Qu.: 5.75   1st Qu.:  3.40
 Mode  :character   Median : 542.0    Median :11.50   Median : 13.70
                    Mean   : 729.2    Mean   :11.50   Mean   : 12.87
                    3rd Qu.:1084.0    3rd Qu.:17.25   3rd Qu.: 22.50
                    Max.   :3556.0    Max.   :23.00   Max.   : 39.40
                    NA's   :295                       NA's   :11
    HUMIDITY       WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE
 Min.   : 0.00   Min.   :0.000   Min.   :  27   Min.   :-30.600
 1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 940   1st Qu.: -4.700
 Median :57.00   Median :1.500   Median :1698   Median :  5.100
 Mean   :58.23   Mean   :1.725   Mean   :1437   Mean   :  4.074
 3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 14.800
 Max.   :98.00   Max.   :7.400   Max.   :2000   Max.   : 27.200

 SOLAR_RADIATION     RAINFALL          SNOWFALL         SEASONS
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000   Length:8760
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000   Class :character
 Median :0.0100   Median : 0.0000   Median :0.00000   Mode  :character
 Mean   :0.5691   Mean   : 0.1487   Mean   :0.07507
 3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   :3.5200   Max.   :35.0000   Max.   :8.80000

   HOLIDAY          FUNCTIONING_DAY
 Length:8760        Length:8760
 Class :character   Class :character
 Mode  :character   Mode  :character

     CITY             WEATHER            VISIBILITY         TEMP
 Length:160         Length:160         Min.   : 9940   Min.   : 3.810
 Class :character   Class :character   1st Qu.:10000   1st Qu.: 9.748
 Mode  :character   Mode  :character   Median :10000   Median :12.765
                                       Mean   :10000   Mean   :13.505
                                       3rd Qu.:10000   3rd Qu.:16.747
                                       Max.   :10000   Max.   :26.130
    TEMP_MIN         TEMP_MAX         PRESSURE       HUMIDITY
 Min.   : 3.810   Min.   : 3.810   Min.   : 954   Min.   :17.00
 1st Qu.: 9.725   1st Qu.: 9.953   1st Qu.:1016   1st Qu.:37.00
 Median :12.765   Median :12.765   Median :1019   Median :49.00
 Mean   :13.444   Mean   :13.539   Mean   :1018   Mean   :49.92
 3rd Qu.:16.635   3rd Qu.:16.977   3rd Qu.:1022   3rd Qu.:62.00
 Max.   :26.130   Max.   :26.130   Max.   :1028   Max.   :94.00
   WIND_SPEED       WIND_DEG        SEASON
 Min.   :0.180   Min.   :  2.0   Length:160
 1st Qu.:1.455   1st Qu.: 92.0   Class :character
 Median :2.130   Median :141.0   Mode  :character
 Mean   :2.778   Mean   :163.7
 3rd Qu.:3.723   3rd Qu.:256.8
 Max.   :8.180   Max.   :352.0
 FORECAST_DATETIME
 Min.   :2021-04-16 12:00:00
 1st Qu.:2021-04-17 17:15:00
 Median :2021-04-18 22:30:00
 Mean   :2021-04-18 22:30:00
 3rd Qu.:2021-04-20 03:45:00
 Max.   :2021-04-21 09:00:00

     CITY            CITY_ASCII             LAT              LNG
 Length:26569       Length:26569       Min.   :-54.93   Min.   :-179.5900
 Class :character   Class :character   1st Qu.: 27.92   1st Qu.: -78.7794
 Mode  :character   Mode  :character   Median : 40.22   Median :  -0.7689
                                       Mean   : 33.10   Mean   : -11.3639
                                       3rd Qu.: 47.99   3rd Qu.:  29.6833
                                       Max.   : 81.72   Max.   : 179.3667

   COUNTRY              ISO2               ISO3            ADMIN_NAME
 Length:26569       Length:26569       Length:26569       Length:26569
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   CAPITAL            POPULATION             ID
 Length:26569       Min.   :       0   Min.   :1.004e+09
 Class :character   1st Qu.:    9246   1st Qu.:1.277e+09
 Mode  :character   Median :   20080   Median :1.643e+09
                    Mean   :  162346   Mean   :1.556e+09
                    3rd Qu.:   59369   3rd Qu.:1.840e+09
                    Max.   :37977000   Max.   :1.934e+09
                    NA's   :973

## Process the web-scraped bike sharing system dataset

By now we have standardized all column names. Next, we will focus on cleaning up the values in the web-scraped bike sharing systems dataset.

In [ ]:
# First load the dataset
bike_sharing_df <- read_csv("raw_bike_sharing_systems.csv")

ERROR: ignored

In [ ]:
# Print its head
head(bike_sharing_df)

Even from the first few rows, you can see there is plenty of undesireable embedded textual content, such as the reference link included in `Melbourne[12]`.

In this project, let's only focus on processing the following revelant columns (feel free to process the other columns for more practice):

*   `COUNTRY`: Country name
*   `CITY`: City name
*   `SYSTEM`: Bike-sharing system name
*   `BICYCLES`: Total number of bikes in the system

In [ ]:
# Select the four columns
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

Let's see the types of the selected columns

In [ ]:
sub_bike_sharing_df %>% 
    summarize_all(class) %>%
    gather(variable, class)

They are all interpreted as character columns, but we expect the `BICYCLES` column to be of numeric type. Let's see why it wasn't loaded as a numeric column - possibly some entries contain characters. Let's create a simple function called `find_character` to check that.

In [ ]:
# grepl searches a string for non-digital characters, and returns TRUE or FALSE
# if it finds any non-digital characters, then the bicyle column is not purely numeric
find_character <- function(strings) grepl("[^0-9]", strings)

Let's try to find any elements in the `Bicycles` column containing non-numeric characters.

In [ ]:
sub_bike_sharing_df %>% 
    select(BICYCLES) %>% 
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

As you can see, many rows have non-numeric characters, such as `32 (including 6 rollers) [162]` and `1000[253]`. This is actually very common for a table scraped from Wiki when no input validation is enforced.

Later, you will use regular expressions to clean them up.

Next, let's take a look at the other columns, namely `COUNTRY`, `CITY`, and `SYSTEM`, to see if they contain any undesired reference links, such as in `Melbourne[12]`.

In [ ]:
# Define a 'reference link' character class, 
# `[A-z0-9]` means at least one character 
# `\\[` and `\\]` means the character is wrapped by [], such as for [12] or [abc]
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [ ]:
# Check whether the COUNTRY column has any reference links
sub_bike_sharing_df %>% 
    select(COUNTRY) %>% 
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

Ok, looks like the `COUNTRY` column is clean. Let's check the `CITY` column.

In [ ]:
# Check whether the CITY column has any reference links
sub_bike_sharing_df %>% 
    select(CITY) %>% 
    filter(find_reference_pattern(CITY)) %>%
    slice(0:10)

Hmm, looks like the `CITY` column has some reference links to be removed. Next, let's check the `SYSTEM` column.

In [ ]:
# Check whether the System column has any reference links
sub_bike_sharing_df %>% 
    select(SYSTEM) %>% 
    filter(find_reference_pattern(SYSTEM)) %>%
    slice(0:10)

So the `SYSTEM` column also has some reference links.

After some preliminary investigations, we identified that the `CITY` and `SYSTEM` columns have some undesired reference links, and the `BICYCLES` column has both reference links and some
textual annotations.

Next, you need to use regular expressions to clean up the unexpected reference links and text annotations in numeric values.

# TASK: Remove undesired reference links using regular expressions

*TODO:* Write a custom function using `stringr::str_replace_all` to replace all reference links with an empty character for columns `CITY` and `SYSTEM`

In [ ]:
# remove reference link
remove_ref <- function(column) {
    ref_pattern <- "\\[[\\w]+\\"
    # Replace all matched substrings with a white space using str_replace_all()
    result <-  str_replace_all(column, ref_pattern, " ")
    # Trim the reslt if you want
    result<- trimws(result)
    # return(result)
    return(result)
}
remove_ref

function(column) {
    ref_pattern <- "\\[[\\w]+\\"
    # Replace all matched substrings with a white space using str_replace_all()
    result <-  str_replace_all(column, ref_pattern, " ")
    # Trim the reslt if you want
    result<- trimws(result)
    # return(result)
    return(result)
}

*TODO:* Use the `dplyr::mutate()` function to apply the `remove_ref` function to the `CITY` and `SYSTEM` columns

In [ ]:
# sub_bike_sharing_df %>% mutate(column1=remove_ref(column1), ... )
newdata <- bikesharing_dataset %>% 
  mutate(CITY = remove_ref(CITY),
         SYSTEM = remove_ref(SYSTEM))

 newdata

ERROR: ignored

*TODO:* Use the following code to check whether all reference links are removed:

In [ ]:
newdata %>% 
    select(CITY, SYSTEM, BICYCLES) %>% 
    filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

ERROR: ignored

# TASK: Extract the numeric value using regular expressions

*TODO:* Write a custom function using `stringr::str_extract` to extract the first digital substring match and convert it into numeric type For example, extract the value '32' from `32 (including 6 rollers) [162]`.

In [ ]:
# Extract the first number
extract_num <- function(columns){
    # Define a digital pattern
    digitals_pattern <- "[0-9]+"
    # Find the first match using str_extract
    result<- str_extract(columns, digitals_pattern)
    # Convert the result to numeric using the as.numeric() function
    num_result <- as.numeric (result)
}
extract_num

function(columns){
    # Define a digital pattern
    digitals_pattern <- "[0-9]+"
    # Find the first match using str_extract
    result<- str_extract(columns, digitals_pattern)
    # Convert the result to numeric using the as.numeric() function
    num_result <- as.numeric (result)
}

*TODO:* Use the `dplyr::mutate()` function to apply `extract_num` on the `BICYCLES` column

In [ ]:
# Use the mutate() function on the BICYCLES column
changes <- bikesharing_dataset %>% mutate(BICYCLES = extract_num(BICYCLES))
changes

    COUNTRY       CITY
1   Albania       Tirana
2   Argentina     Mendoza
3   Argentina     San Lorenzo, Santa Fe
4   Argentina     Buenos Aires
5   Argentina     Rosario
6   Australia     Melbourne[12]
7   Australia     Brisbane[14][15]
8   Australia     Melbourne
9   Australia     Sydney
10  Australia     Sydney
11  Australia     Sydney
12  Austria       Vienna
13  Austria       Burgenland
14  Austria       Lower Austria[18]
15  Austria       Salzburg
16  Austria       Vienna
17  Austria       Vorarlberg
18  Bangladesh    Dhaka
19  Belgium       Namur[19]
20  Belgium       Antwerp
21  Belgium       Brussels[21]
22  Brazil        Salvador[23]
23  Brazil        Belo Horizonte[24]
24  Brazil        Fortaleza
25  Brazil        João Pessoa[25]
26  Brazil        (Pedro de) Toledo[26]
27  Brazil        Rio de Janeiro[27]
28  Brazil        São Paulo[28]
29  Brazil        Sorocaba[29]
30  Bulgaria      Burgas
⋮   ⋮             ⋮
451 United States Fullerton, California
452 United States Hoboken, New Jersey[288]
453 United States Houston, Texas[289][290]
454 United States Jersey City[292]
455 United States Kailua, Hawaii[293][294]
456 United States Kansas City, Missouri[295]
457 United States Kona District, Hawaii
458 United States Lansing, MI
459 United States Lincoln, Nebraska[297]
460 United States Los Angeles
461 United States Madison, Wisconsin[298]
462 United States Milwaukee, Wisconsin[299][300]
463 United States Minneapolis, Minnesota and Saint Paul, Minnesota[301][302]
464 United States Oklahoma City, Oklahoma[303]
465 United States Omaha, Nebraska[304]
466 United States Philadelphia, Pennsylvania[305][306]
467 United States Phoenix, Arizona
468 United States Pittsburgh, Pennsylvania
469 United States Portland, Oregon
470 United States Portland, Oregon
471 United States Salt Lake City, Utah[309]
472 United States San Antonio, Texas[310]
473 United States San Diego[311]
474 United States San Francisco Bay Area
475 United States San Francisco Bay Area[312]
476 United States Santa Monica, California[313]
477 United States Savannah, Georgia[314]
478 United States Seattle, Washington[315]
479 United States Spartanburg, South Carolina[316]
480 United States St. Paul
    NAME                        SYSTEM
1   Ecovolis                    NA
2   Metrobici                   NA
3   Biciudad                    Biciudad
4   Ecobici                     Serttel Brasil
5   Mi Bici Tu Bici[11]         NA
6   Melbourne Bike Share        PBSC & 8D
7   CityCycle                   3 Gen. Cyclocity
8   oBike                       4 Gen. oBike
9   oBike                       4 Gen. oBike
10  Ofo                         4 Gen. Ofo
11  Reddy Go                    Reddy Go
12  Citybike Wien [16]          3 Gen. Cyclocity
13  LEIHRADL nextbike           3 Gen. nextbike
14  LEIHRADL nextbike           3 Gen. nextbike
15  nextbike                    3 Gen. nextbike
16  Viennabike                  2 Gen.
17  NA                          3 Gen. nextbike
18  JoBike                      JoBike
19  Libiavelo                   3 Gen. Cyclocity
20  Velo                        3 Gen. Clear CC
21  Villo!                      3 Gen. Cyclocity
22  Bike Salvador               tembici
23  Bikebh                      Mobilicidade
24  Bicicletar                  Mobilicidade
25  SAMBA                       Mobilicidade
26  Toopedalando                Toopedalando
27  Bike Rio                    tembici
28  Bikesampa                   tembici
29  Integrabike                 tembici
30  VeloBurgas                  Mobilicidade
⋮   ⋮                           ⋮
451 OCTA BikeShare              Bike Nation
452 Hudson Bike Share           3 Gen. nextbike
453 Houston B-cycle             3 Gen. B-Cycle
454 Citi Bike                   8D
455 Hawaii B-cycle              3 Gen. B-Cycle
456 Kansas City B-cycle         3 Gen. B-Cycle
457 NA                          PBSC
458 Capital Community Bikeshare A2B Bikeshare
459 BikeLNK                     3 Gen. B-Cycle
460 Metro Bike Share            3 Gen. B-Cycle
461 Madison B-Cycle             3 Gen. B-Cycle
462 Bublr Bikes                 3 Gen. B-Cycle
463 Nice Ride                   PBSC & 8D
464 Spokies                     Spokies
465 Omaha B-Cycle               3 Gen. B-Cycle
466 Indego                      3 Gen. B-Cycle
467 Grid Bike Share             3 Gen. CycleHop and Social Bicycles
468 Healthy Ride PGH            3 Gen. nextbike
469 Biketown                    NA
470 Yellow Bike Project         1 Gen. WhiteBikes
471 SLC Bike Share              3 Gen. B-Cycle
472 San Antonio B-Cycle         3 Gen. B-Cycle
473 DecoBike                    DecoBike
474 NA                          NA
475 Baywheels                   8D
476 Breeze Bike Share           3 Gen. CycleHop and Social Bicycles
477 CAT Bike                    3 Gen. B-Cycle
478 Pronto Cycle Share          8D
479 Spartanburg B-Cycle         3 Gen. B-Cycle
480 Yellow Bike Project         1 Gen. w/ BikeCard
    OPERATOR                       LAUNCHED
1   NA                             March 2011
2   NA                             2014
3   NA                             27 November 2016
4   Bike In Baires Consortium.[10] 2010
5   NA                             2 December 2015
6   Motivate                       June 2010
7   JCDecaux                       September 2010
8   NA                             July 2017
9   NA                             July 2017
10  NA                             October 2017
11  NA                             July 2017
12  JCDecaux Gewista               June 2003
13  NA                             2009
14  NA                             2009
15  NA                             2011
16  Association and city council   April 2002
17  NA                             2009
18  NA                             2018
19  JCDecaux                       21 April 2012
20  NA                             9 June 2011
21  JCDecaux                       19 May 2009 (earlier system since 2006)
22  NA                             2013
23  NA                             2014
24  NA                             15 December 2014
25  NA                             NA
26  NA                             2011
27  NA                             2011
28  NA                             2012
29  NA                             2012
30  NA                             2012
⋮   ⋮                              ⋮
451 NA                             6 January 2014
452 NA                             September 2015
453 NA                             2012
454 Motivate                       September 2015
455 NA                             2011
456 NA                             2012
457 NA                             2016
458 NA                             2014
459 NA                             2018
460 NA                             7 July 2016
461 NA                             2011
462 NA                             2014
463 NA                             2010
464 NA                             2012
465 NA                             2011
466 NA                             23 April 2015
467 NA                             25 November 2014
468 NA                             2015
469 NA                             19 July 2016
470 Yellow Bike Project            1994[307]
471 NA                             2013
472 NA                             2011
473 JCDecaux                       February 2015
474 NA                             2013
475 Motivate                       June 2017
476 NA                             13 August 2015
477 NA                             24 January 2014
478 Motivate                       13 October 2014
479 NA                             2011
480 volunteers and city council    1997
    DISCONTINUED         STATIONS BICYCLES DAILY_RIDERSHIP
1   NA                   8         200     NA
2   NA                   2          40     NA
3   NA                   8          80     NA
4   NA                   400      4000     21917
5   NA                   47        480     NA
6   30 November 2019[13] 53        676     NA
7   NA                   150      2000     NA
8   July 2018            dockless 1250     NA
9   July 2018            dockless 1250     NA
10  NA                   dockless  600     NA
11  NA                   NA       2000     NA
12  NA                   121      1500     2800[17]
13  NA                   40         NA     NA
14  NA                   295      1300     NA
15  NA                   NA         NA     NA
16  November 2002        200      1500     NA
17  NA                   14         70     NA
18  NA                   05        300     NA
19  NA                   24        200     NA
20  NA                   302      3600     7010[20]
21  NA                   346      4115     NA
22  NA                   23         NA     NA
23  NA                   40        400     NA
24  NA                   80        800     NA
25  NA                   3          20     NA
26  NA                   6          60     NA
27  NA                   60        300     NA
28  NA                   241       600     NA
29  NA                   15        120     NA
30  NA                   10        120     NA
⋮   ⋮                    ⋮        ⋮        ⋮
451 NA                   10         75     NA
452 NA                   29        250     NA
453 NA                   51[291]   400     NA
454 NA                   50        500     NA
455 NA                   2          12     NA
456 NA                   30        300     NA
457 NA                   3          30     NA
458 NA                   8          20     Closed[296]
459 NA                   19        100     NA
460 NA                   65       1000     NA
461 NA                   39        350     NA
462 NA                   87        400     NA
463 NA                   171      1833     NA
464 NA                   7         100     NA
465 NA                   5          35     NA
466 NA                   105      1000     NA
467 NA                   40        500     NA
468 NA                   50        500     NA
469 NA                   100      1000     NA
470 1997[308]            NA       1000     NA
471 NA                   12        100     NA
472 NA                   68        600     NA
473 NA                   180      1800     NA
474 NA                   NA         NA     NA
475 NA                   550      7000     NA
476 NA                   80        500     NA
477 NA                   2          16     NA
478 31 March 2017        50        500     NA
479 NA                   5          40     NA
480 NA                   NA         NA     NA

*TODO:* Use the summary function to check the descriptive statistics of the numeric `BICYCLES` column

In [ ]:
summary(bikesharing_dataset$BICYCLES)

   Length     Class      Mode
      480 character character

*TODO:* Write the cleaned bike-sharing systems dataset into a csv file called `bike_sharing_systems.csv`

In [ ]:
# Write dataset to `bike_sharing_systems.csv`

# References:

If you need to refresh your memory about regular expressions, please refer to this good Regular Expression cheat sheet:

<a href="https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01" target="_blank">Basic Regular Expressions in R</a>

# Next Steps

Great! Now you have cleaned up the bike-sharing system dataset using regular expressions. Next, you will use other `tidyverse` functions to perform data wrangling on the bike-sharing demand dataset.

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2022-01-01" target="_blank">Yan Luo</a>

### Other Contributors

Jeff Grossman

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-04-08        | 1.0     | Yan        | Initial version created |
|                   |         |            |                         |
|                   |         |            |                         |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>